:root
{
  --yellow: #df5959;
    --orange : #f53404;
    --black : #121620;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(249, 42, 5, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
    background: linear-gradient(180deg, #e85757 26.71%, #3a21ca 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(82, 58, 168, 0.42);
    border-radius: 34px;
    border: none;
    color: rgb(247, 245, 245);
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: rgb(219, 217, 225);
    cursor: pointer;
    border: 1px solid var(#f50808);
    color: var(--black);
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  

  